#createQuestion {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-height: 80%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
    border-radius: 8px;
    background-color: white;
    overflow-y: hidden;
    overflow-x: hidden;
}

.select-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

h3{
    margin: 0;
}

button {
    margin-right: 25px;
}

h2{
    margin-left: 25px;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
h3{
    font-size: 25px;
    color: #141E30;
}

.infield{
    width: 95%;
}

.form-content{
    display: flex;
    justify-content: space-between;
}

.question{
    margin-top: 10px;
    margin-left: 25px;
}

.question-content{
    display: flex;
    align-items: center;
    margin-left: 30px;

    .infield {
        width: 90%;
    }

    .btn-delete{
        margin-left: 30px;
        padding: 10px;
    }
}

input {
    padding: 12px;
    border: 1px solid #ddd;
  }

select{
    width: 100%;
    padding: 6px 8px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
    border-radius: 5px;
    
}

select:hover{
    background-color: #dadada;
}



