<app-header [currentPage]="'questions'"></app-header>
<app-search (searchEvent)="filterQuestions($event)"></app-search>
<main>
  <div class="base">
    <div class="nav-base">
      <h2>Perguntas</h2>
      <div class="buttons">
        <button (click)="openModalCreateQuestion()" *ngIf="canShow()">Criar Perguntas</button>
        <button (click)="openModalSeeAnswers()" *ngIf="canShow()">Consultar Respostas</button>
      </div>
    </div>

    <div *ngIf="filteredQuestions.length === 0" class="empty-message">
      <h3>Nenhuma pergunta encontrada.</h3>
      <p>Crie uma pergunta para começar.</p>
    </div>

    <div class="modal-content">
      <div class="forms-groups">
        <ng-container *ngFor="let question of filteredQuestions; let i = index">
          <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">
              <a *ngIf="canShow()">{{question.id}}</a>
              <div class="botao-menu" (click)="toggleMenu(i, $event)">
                <i *ngIf="canShow()" class="fas fa-ellipsis-v"></i>
                <div *ngIf="activeMenuIndex === i" class="menu">
                  <ul>
                    <li (click)="openModalEdit(question.id, question.text, question.idForms)">
                      <i class="fas fa-edit"></i> Editar
                    </li>
                    <li (click)="openModalDelete(question.id)">
                      <i class="fas fa-trash"></i> Excluir
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{question.text}}</h5>
              <p class="card-text">Esta pergunta pertence ao Formulário: <b>{{question.formName}}</b> para uma boa coleta de feedback.</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</main>
<app-forms-modal></app-forms-modal>
<app-delete (deleteConfirmed)="loadQuestionAndForms()"></app-delete>
<app-edit (editConfirmed)="loadQuestionAndForms()"></app-edit>
<app-create-question (createdConfirmed)="loadQuestionAndForms()"></app-create-question>
<app-see-answers *ngIf="canShow()"></app-see-answers>