#alertModal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    width: 45%;
    min-height: 40%;
    max-height: 60%;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
    padding: 20px;
    text-align: center;
    background-color: white;
  }

  .select-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
  }

  h3{
    font-size: 30px;
  }

  label{
    left: 47.1%;
    width: 60%;
  }
  
  .base {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 30px;
  }
  
  .answers-list {
    width: 100%;
  }
  
  .answer {
    display: flex;
    gap: 25px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .answer .pergunta{
    width: 85%;
    text-align: left;
  }
  .answer .username{
    width: 25%;
    text-align: left;
  }
  .answer .grade {
    width: 15%;
    text-align: left;
  }
  .answer .description {
    width: 65%; 
    text-align: left;
  }
  
  button {
    width: 20%;
  }
  
  select {
    width: 60%;
    padding: 6px 8px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  
  select:hover {
    background-color: #dadada;
  }
  
  h5 {
    font-size: 18px;
    color: #141E30;
  }
  
  .fa-sync-alt {
    margin-left: 20px;
    color: #141E30;
    font-size: 25px;
    cursor: pointer;
  }
  