<dialog #modal id="modal">
  <div class="nav-base">
    <h2>Formulários - {{groupName}}</h2>
    <div class="buttons">
      <button (click)="openModalCreateForm()" *ngIf="canShow()">Criar Formulário</button>
      <button class="fechar" (click)="closeModal()">Fechar</button>
    </div>
  </div>
  <div *ngIf="forms.length === 0" class="empty-message">
    <h3>Nenhum formulário encontrado.</h3>
    <p>Crie um formulário para começar.</p>
  </div>
  <div class="forms">
    <ng-container *ngFor="let form of forms; let i = index">
      <div class="card border-dark mb-3" (click)="openModalQuestion(form.id, form.name)" style="max-width: 18rem;">
        <div class="card-header">
          <a *ngIf="canShow()">{{form.id}}</a>
          <div class="botao-menu" (click)="toggleMenu(i, $event)">
            <i *ngIf="canShow()" class="fas fa-ellipsis-v"></i>
            <div *ngIf="activeMenuIndex === i" class="menu">
              <ul>
                <li (click)="openModalEdit(form.id, form.name)">
                  <i class="fas fa-edit"></i> Editar
                </li>
                <li (click)="openModalDelete(form.id)">
                  <i class="fas fa-trash"></i> Excluir
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{form.name}}</h5>
          <p class="card-text">Esses são os formulários do grupo: <b>{{ groupName }}</b> que tem como finalidade a coleta de feedback.</p>
        </div>
      </div>
    </ng-container>
  </div>
</dialog>
<app-questions-modal></app-questions-modal>
<app-delete (deleteConfirmed)="loadForm()"></app-delete>
<app-edit (editConfirmed)="loadForm()"></app-edit>
<app-create-form (createdConfirmed)="loadForm()"></app-create-form>