#modal{
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Ajusta a posição para o centro exato */
    width: 70%;
    height: 70%;
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
    border-radius: 5px;
}

.nav-base {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}


h2 {
    margin-left: 25px;
    color: #141E30;
}

button {
    margin-right: 25px;
}


.forms {
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
}

.card {
    flex: 1 1 calc(20% - 1rem); /* Ajusta a largura dos cartões para que 5 se ajustem em uma linha */
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    .card-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.card:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    
    .card-header{
        background-color: #dadada;
    }

    .card-body{
        background-color: #ebebeb;
    }
}


.menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    right: 15px;
    top: 35px;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 10px;
    cursor: pointer;
  }
  
  .menu li:hover {
    background-color: #f0f0f0;
  }
