<dialog #modal id="modal">
    <div class="nav-base">
      <h2>Formulários</h2>
          <button (click)="closeModal()">Fechar</button>
    </div>
    <div *ngIf="forms.length === 0" class="empty-message">
      <h3>Nenhum formulário encontrado.</h3>
      <p>Crie um formulário para começar.</p>
    </div>
    <div class="forms">
        <ng-container *ngFor="let form of forms; let i = index">
          <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">
              <a *ngIf="userRole === 'Administrador'">{{form.id}}</a>
              <i *ngIf="userRole === 'Administrador'" class="fas fa-ellipsis-v" (click)="toggleMenu(i, $event)"></i>
              <div *ngIf="activeMenuIndex === i" class="menu">
                <ul>
                  <li (click)="openModalEdit(form.id)">
                    <i class="fas fa-edit"></i> Editar
                  </li>
                  <li (click)="openModalDelete(form.id)">
                    <i class="fas fa-trash"></i> Excluir
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-body" (click)="openModalQuestion(form.id)">
              <h5 class="card-title">{{form.name}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </ng-container>
      </div>
</dialog>
<app-questions></app-questions>
<app-delete (deleteConfirmed)="loadForm()"></app-delete>
<app-edit (editConfirmed)="loadForm()"></app-edit>
