.inputSearch {
    width: 73%;
    position: fixed;
    left: 68%;
    top: 15%;
  }
  
  .infield {
    width: 30%;
  }
  
  .form-control {
    margin-right: 25px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px 12px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  }
  
  input::placeholder {
    color: #888;
  }
  