#edit {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    min-height: 25%;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.modal-containerr {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    padding: 20px 20px 5px 20px;
}

.modal-headerr {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.modal-bodyy {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
}

.select-group {
    margin-top: 20px;
}

select {
    width: 100%;
    padding: 8px;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

select:hover {
    background-color: #dadada;
}

.modal-footer {
    display: flex;
    margin-top: 40px;
}

.btn-submit {
    padding: 10px 28px;
}

.btn-add-form {
    margin: 0;
    padding: 10px 36px;
}


.error-message {
    margin-bottom: 20px;
}

a {
    color: #141E30;
    font-size: 16px;
    margin-bottom: 10px;
}

p {
    font-size: 15px;
    color: #333;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin: 0;
}