.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.navbar .form-inline {
    display: flex;
    align-items: center;
}

.form-inline{
    margin-right: 45px;
    gap: 35px;
}

.botao-nps{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}
i{
    font-size: 35px;
    transition: all 0.3s ease;
    
}
.fa-sign-out-alt {
    cursor: pointer;
    color: #141E30;
    font-size: 35px;
}

img {
    margin-top: 5px;
    margin-left: 50px;
}

.user-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    transition: all 0.3s;
}


.username {
    margin: 0;
    margin-top: 3px;
    font-size: 16px;
    color: #333;
}

.nps{
    margin: 0;
}

.fas{
    color: #141E30;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.fa-user{
    font-size: 35px;
    color: #141E30;
    cursor: auto;
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.forms-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

form.form-inline {
    display: flex;
    align-items: center;
    gap: 25px;
}

.perguntas{
    margin-left: 20px;
}

.forms{
    margin-right: -15px;
    margin-top: auto;
}

.fas:hover {
    transform: scale(1.1); 
    animation: pulse 1s infinite;
}

.fa-user:hover {
    transform: none;
    animation: none;
}   

@keyframes pulse {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}