<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">
        <img src="assets/logo.png" width="170px">
    </a>
      <form class="form-inline my-2 my-lg-0">
        <div *ngIf="userRole == 'Administrador'" class="user-icon ">
          <a *ngIf="!IsNps" (click)="Nps()" ><i class="fas fa-poll"></i></a>
          <p *ngIf="!IsNps" class="username nps">Nps</p>
          <a *ngIf="IsNps" (click)="Home()" ><i class="fas fa-home"></i></a>
          <p *ngIf="IsNps"class="username nps">Home</p>
        </div>
        
        <div class="user-icon">
          <i class="fas fa-user"></i>
          <p class="username">{{ username }}</p>
        </div>
        <a (click)="logout()"><i class="fas fa-sign-out-alt"></i></a>
      </form>
  </nav>


