#modalQuestion{
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Ajusta a posição para o centro exato */
    width: 70%;
    height: 70%;
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
    border-radius: 5px;
}

h2 {
    margin-left: 25px;
    color: #141E30;
}

button {
    margin: 5px;
}

.question {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 40px;
    gap: 4px; 
}

.card-text{
    display: flex;
    gap: 5px;
    margin-top: 20px;
}

.infield{
    position: relative;
    margin: 0;
}

input{
    padding: 5px 8px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
    border-radius: 5px;
}

select{
    cursor: pointer;
    background-color: #f3f3f3;
    border: none;
    outline: none;
    border-radius: 5px;
}

select:hover{
    background-color: #dadada;
}

.card{
    cursor: auto;
}
