<dialog #modalQuestion id="modalQuestion">
  <div class="nav-base">
    <h2>Perguntas - {{formName}}</h2>
    <div class="buttons">
      <button (click)="openModalCreateQuestion()" *ngIf="canShow()">Criar Perguntas</button>
      <button *ngIf="questions.length != 0" (click)="submitAnswers()">Enviar</button>
      <button (click)="closeModal()">Fechar</button>
    </div>
  </div>
  <div *ngIf="questions.length === 0" class="empty-message">
    <h3>Nenhuma pergunta encontrada.</h3>
    <p>Crie uma pergunta para começar.</p>
  </div>
  <div class="question">
    <ng-container *ngFor="let question of questions; let i = index">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <a *ngIf="canShow()">{{question.id}}</a>
          <div class="botao-menu" (click)="toggleMenu(i, $event)">
          <i *ngIf="canShow()" class="fas fa-ellipsis-v"></i>
          <div *ngIf="activeMenuIndex === i" class="menu">
            <ul>
              <li (click)="openModalEdit(question.id, question.text)">
                <i class="fas fa-edit"></i> Editar
              </li>
              <li (click)="openModalDelete(question.id)">
                <i class="fas fa-trash"></i> Excluir
              </li>
            </ul>
          </div>
        </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{question.text}}</h5>
          <div class="card-text">
            <select (change)="onInputChange(question.id, 'grade', $event)" required>
              <option [value]="null" disabled selected></option>
              <option *ngFor="let grade of grades" [value]="grade">{{ grade }}</option>
            </select>
            <div class="infield">
              <input (input)="onInputChange(question.id, 'description', $event)"  type="text" placeholder="Descrição (opcional)" />
              <label></label>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</dialog>
<app-delete (deleteConfirmed)="loadQuestion()"></app-delete>
<app-edit (editConfirmed)="loadQuestion()"></app-edit>
<app-alert-modal></app-alert-modal>
<app-create-question (createdConfirmed)="loadQuestion()"></app-create-question>
