<main>
  <div class="base">
    <div class="nav-base">
      <h2>Forms Groups</h2>
      <div class="buttons">
        <button *ngIf="userRole === 'Administrador'">Criar Grupo</button>
        <button *ngIf="userRole === 'Administrador'">Criar Formulário</button>
        <button *ngIf="userRole === 'Administrador'">Criar Perguntas</button>
      </div>
    </div>
    <div class="forms-groups">
      <ng-container *ngFor="let group of formGroups; let i = index">
        <div *ngIf="i % 5 === 0" style="width: 100%; display: flex; flex-wrap: wrap;"></div>
        <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">
            {{group.id}}
            <i class="fas fa-ellipsis-v" (click)="toggleMenu(i, $event)"></i>
            <div *ngIf="activeMenuIndex === i" class="menu">
              <ul>
                <li (click)="editGroup(group.id)">
                  <i class="fas fa-edit"></i> Editar
                </li>
                <li (click)="deleteGroup(group.id)">
                  <i class="fas fa-trash"></i> Excluir
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body" (click)="getFormsByGroupId(group.id)">
            <h5 class="card-title">{{group.name}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <app-forms *ngIf="modalForms" [groupId]="selectedGroupId"></app-forms>
  <app-delete *ngIf="modalDelete" [itemId]="selectedGroupId" (deleteConfirmed)="onDeleteConfirmed($event)"></app-delete>
</main>
