<main>
  <div class="base">
    <div class="nav-base">
      <h2>Forms Groups</h2>
      <div class="buttons">
        <button (click)="openModalCreateGroup()" *ngIf="userRole === 'Administrador'">Criar Grupo</button>
        <button (click)="openModalCreateForm()" *ngIf="userRole === 'Administrador'">Criar Formulário</button>
        <button (click)="openModalCreateQuestion()" *ngIf="userRole === 'Administrador'">Criar Perguntas</button>
        <button (click)="openModalSeeAnswers()" *ngIf="userRole === 'Administrador'">Consultar Respostas</button>
      </div>
    </div>

    <div *ngIf="formGroups.length === 0" class="empty-message">
      <h3>Nenhum grupo de formulários encontrado.</h3>
      <p>Crie um grupo de formulário para começar.</p>
    </div>

    <div class="forms-groups">
      <ng-container *ngFor="let group of formGroups; let i = index">
        <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div  class="card-header">
            <a *ngIf="userRole === 'Administrador'">{{group.id}}</a>
            <i *ngIf="userRole === 'Administrador'" class="fas fa-ellipsis-v" (click)="toggleMenu(i, $event)"></i>
            <div *ngIf="activeMenuIndex === i" class="menu">
              <ul>
                <li (click)="openModalEdit(group.id)">
                  <i class="fas fa-edit"></i> Editar
                </li>
                <li (click)="openModalDelete(group.id)">
                  <i class="fas fa-trash"></i> Excluir
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body" (click)="openModalForm(group.id)">
            <h5 class="card-title">{{group.name}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <app-forms [groupId]="selectedGroupId"></app-forms>
  <app-delete [itemId]="selectedGroupId" (deleteConfirmed)="loadGroups()"></app-delete>
  <app-edit [itemId]="selectedGroupId" (editConfirmed)="loadGroups()"></app-edit>
  <app-create-group (createdConfirmed)="loadGroups()"></app-create-group>
  <app-create-form></app-create-form>
  <app-create-question></app-create-question>
  <app-see-answers *ngIf="userRole === 'Administrador'"></app-see-answers>
</main>
