#createGroup {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-height: 80%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
    border-radius: 8px;
    background-color: white;
    overflow-y: hidden;
}

.nav-base {
    padding: 20px;
}

h2 {
    color: #141E30;
}

.group-info, .form {
    margin-bottom: 20px;
}

.group-info h3 {
    font-size: 20px;
    color: #141E30;
}

label{
    width: 100%;
}

input {
    padding: 12px;
    border: 1px solid #ddd;
    margin-top: 8px;
  }

.questions {
    margin-top: 20px;
    margin-left: 20px;
}

.question {
    display: flex;
    align-items: center;
}

.question input {
    flex: 1;
}

.input-button{
    display: flex;
    justify-content: center;
    align-items: center;

    .btn-delete{
        margin-left: 25px;
        margin-top: 15px;
        padding: 10px;
    }

    label{ 
        top: 98%;
        width: 92.5%;
        transform: translateX(-54%);
    }
}

.form{
    width: 100%;
}



