#createGroup {
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 45%;
    min-height: 55%;
    max-height: 70%;
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
    border-radius: 5px;
}

h2 {
    margin-left: 25px;
    color: #141E30;
}

button {
    margin-right: 25px;
}

.grupo{
    margin-left: 30px;
    margin-top: 40px;
}

.forms{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.infield{
    width: 95%;
}

.form{
    margin-top: 25px;
}

.form-content{
    display: flex;
    justify-content: space-between;
}

.question{
    margin-top: 20px;
    margin-left: 35px;

    input{
        padding: 10px 13px;
        width: 60%;
    }

    label{
        transform: translateX(-50%);
        width: 350px;
    }

    h3{
        font-size: 20px;
    }
}

.question-content{
    display: flex;
    align-items: center;
    margin-top: -10px;

    .infield {
        width: 350px;
    }

    input{
        width: 350px;
    }

    .btn-delete{
        margin-left: 10px;
    }
}

.error-message{
    margin-top: -20px;
    width: 95%;
}

  .form-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .btn-delete{
    margin-right: 5px;
    margin-bottom: 10px; 
  }


  
  