
<main>
  <div class="nps-speedometer">
  </div>
  <div class="nps-segments">
    <div class="segment detractors">
      <span>Detratores</span>
      <strong>{{ detractors }}%</strong>
    </div>
    <div class="segment passives">
      <span>Passivos</span>
      <strong>{{ passives }}%</strong>
    </div>
    <div class="segment promoters">
      <span>Promotores</span>
      <strong>{{ promoters }}%</strong>
    </div>
  </div>
  <div class="nps-speedometer">
    <div class="speedometer">
      <div class="needle">
      <b class="npssn-passive">0</b>
        <strong #nps id="nps-score">{{ npsScore }}</strong>
        <div class="nps-needle-container">
          <img #pointer src="assets/pointer.png" alt="Ponteiro" class="pointer-img">
        </div>
      </div>
      <div class="nps-speedometer-labels">
        <b>-100</b>
        <span class="npsTitle">NPS</span>
        <b>100</b>
      </div>
    </div>
</div>
</main>

