main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
  gap: 50px;
  background-color: #f4f4f4;
}

.nps-speedometer {
  text-align: center;
}
.speedometer{
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: conic-gradient(
    #f7b748 0% 11%, 
    #1adc79 14% 20%, 
    #16b463 23% 25%, 
    #f4f4f4 25% 75%,
    #fc5757 75% 99%, 
    #f7b748 100% 3%, 
   );

  position: relative;
}

.needle{
  position: absolute;
  width: 540px;
  height: 540px;
  padding: 150px;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  translate: -50% -50%;
  background-color: #f4f4f4
}


.nps-needle-container {
  position: absolute;
  top: -10%;
  left: 41%;
  transform: translateX(-50%);
  width: 20px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nps-score {
  position: relative;
  z-index: 999;
  font-size: 40px;
  font-weight: bold;
  display: block;
  margin-top: -60px;
}

span{
  position: relative;
  z-index: 999;
  font-size: 18px;
  font-weight: 500;
}

.npsTitle{
  font-size: 32px;
  font-weight: 600;
  left: calc(50% - 28px);
  line-height: 36px;
  position: absolute;
  color: #bbb;
}

.nps-speedometer-labels {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 51%;
}

.npssn-passive {
  position: absolute;
  top: 10px;
  transform: translateX(-50%); 
}

.nps-speedometer-number {
  font-size: 15px;
}

.pointer-img {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 120px;
  top: 60%;
  left: 1%;
  transform-origin: bottom center; 
  transition: transform 0.5s ease; 
}

#nps-score.positive {
  color: #1adc79;
  animation: pulse 1s infinite;
}

#nps-score.negative {
  color: #fc5757;
  animation: shake 0.7s infinite;
}

#nps-score.passive{
  color: #f7b748;
  animation: none;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.nps-segments {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.segment {
  padding: 15px;
}

.segment.detractors {
  color: #fc5757;
}

.segment.passives {
  color: #f7b748;
}

.segment.promoters {
  color: #1adc79;
}

.segment strong {
  display: block;
  font-size: 25px;
  margin-top: 5px;
}
