
<main>
  <div class="nps-speedometer">
  </div>
  <div class="nps-segments">
    <div class="segment detractors">
      <span>Detratores</span>
      <strong>{{ detractors }}%</strong>
    </div>
    <div class="segment passives">
      <span>Passivos</span>
      <strong>{{ passives }}%</strong>
    </div>
    <div class="segment promoters">
      <span>Promotores</span>
      <strong>{{ promoters }}%</strong>
    </div>
  </div>
  <div class="nps-speedometer">
    <div class="speedometer">
      <div class="needle">
      <b class="nps-speedometer-number npssn-passive">0</b>
        <strong id="nps-score">{{ npsScore }}</strong>
        <span>NPS</span>
      <div class="nps-needle-container">
        <img src="assets/pointer.png" alt="Ponteiro" class="pointer-img">
      </div>
    </div>
    <div class="nps-speedometer-labels">
      <b class="nps-speedometer-number npssn-negative">-100</b>
      <b class="nps-speedometer-number npssn-positive">100</b>
    </div>
  </div>
</div>
</main>

