<main>
    <div class="nps-chart-container">
        <div class="nps-title">Net Promoter Score (NPS)</div>
      
        <!-- Gráfico Principal -->
        <canvas id="mainChart" class="nps-main-chart"></canvas>
      
        <div class="nps-score-container">
          <div class="nps-score-title">NPS Score</div>
          <div class="nps-score">+30</div>
        </div>
      
        <div class="nps-side-charts">
          <!-- Gráficos Laterais -->
          <canvas id="leftChart" class="nps-side-chart"></canvas>
          <canvas id="rightChart" class="nps-side-chart"></canvas>
        </div>
      </div>
      
</main>