#createForm {
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 45%;
    max-height: 80%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
    border-radius: 5px;
    overflow-y: hidden;
}

.select-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.nav-base {
    padding: 20px;
}

.grupo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.infield{
    width: 95%;
}

.form-content{
    display: flex;
    justify-content: space-between;
}

select{
    width: 100%;
    padding: 6px 8px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
    border-radius: 5px;
}

select:hover{
    background-color: #dadada;
}

.error-message{
    margin-top: -10px;
    width: 95%;
}

.group-info h3 {
    font-size: 20px;
    color: #141E30;
}

input {
    padding: 12px;
    border: 1px solid #ddd;
    margin-top: 8px;
  }

.questions {
    margin-top: 20px;
    margin-left: 20px;
}

.input-button{
    display: flex;
    justify-content: center;
    align-items: center;

    .btn-delete{
        margin-left: 25px;
        margin-top: 15px;
        padding: 12px;
    }

    label{ 
        top: 95%;
        width: 91.3%;
        transform: translateX(-54.8%);
    }
}

.error-message{
    width: 100%;
    margin: 0;
}