<dialog #createForm id="createForm">
    <div class="modal-container">
        <div class="nav-base">
            <h2>Criação de Formulário</h2>
            <button (click)="closeModal()" class="btn-close">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="grupo">
                <div class="select-group">
                    <h3>Selecione um Grupo</h3>
                    <div class="infield">
                        <select [(ngModel)]="selectedGroupId">
                            <option *ngFor="let group of formGroups" [value]="group.id">
                                {{group.name}}
                            </option>
                        </select>
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
            <div class="formulario">
                <div class="infield">
                    <div class="form-content">
                        <h3>Formulário</h3>
                    </div>
                    <input type="text" placeholder="Nome do formulário" [(ngModel)]="formName" />
                    <label></label>
                </div>
                <div class="questions" *ngIf="questions.length > 0">
                    <h3>Perguntas</h3>
                    <div *ngFor="let question of questions; let i= index" class="question">
                        <div class="infield">
                            <div class="input-button">
                                <input type="text" placeholder="Conteúdo da pergunta" [(ngModel)]="question.text" />
                                <label></label>
                                <button (click)="deleteQuestion(i)" class="btn-delete">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="submit()" class="btn-submit">Enviar</button>
        <button (click)="addQuestion()" class="btn-add-form"> Adicionar Pergunta</button>
    </div>
</dialog>
<app-alert-modal></app-alert-modal>