<app-header></app-header>
<app-search (searchEvent)="filterGroups($event)"></app-search>
<main>
  <div class="base">
    <div class="nav-base">
      <h2>Grupo de Formulários</h2>
      <div class="buttons">
        <button (click)="openModalCreateGroup()" *ngIf="canShow()">Criar Grupo</button>
        <button (click)="openModalSeeAnswers()" *ngIf="canShow()">Consultar Respostas</button>
      </div>
    </div>

    <div *ngIf="filteredGroups.length === 0" class="empty-message">
      <h3>Nenhum grupo de formulários encontrado.</h3>
      <p>Crie um grupo de formulário para começar.</p>
    </div>

    <div class="modal-content">
      <div class="forms-groups">
        <ng-container *ngFor="let group of filteredGroups; let i = index">
          <div class="card border-dark mb-3" (click)="openModalForm(group.id, group.name)" style="max-width: 18rem;">
            <div class="card-header">
              <a *ngIf="canShow()">{{group.id}}</a>
              <div class="botao-menu" (click)="toggleMenu(i, $event)">
                <i *ngIf="canShow()" class="fas fa-ellipsis-v"></i>
                <div *ngIf="activeMenuIndex === i" #menu class="menu">
                  <ul>
                    <li (click)="openModalEdit(group.id, group.name, $event)">
                      <i class="fas fa-edit"></i> Editar
                    </li>
                    <li (click)="openModalDelete(group.id, $event)">
                      <i class="fas fa-trash"></i> Excluir
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{group.name}}</h5>
              <p class="card-text">Aqui estão todos os grupos de formulários para facilitar a coleta de feedback dos seus usuários.</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</main>
<app-forms-modal ></app-forms-modal>
<app-delete (deleteConfirmed)="loadGroups()"></app-delete>
<app-edit (editConfirmed)="loadGroups()"></app-edit>
<app-create-group (createdConfirmed)="loadGroups()"></app-create-group>
<app-see-answers *ngIf="canShow()"></app-see-answers>