@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #f6f5f7;
    font-family: 'Poppins', sans-serif;
}


button {
    border-radius: 20px;
    border: 1px solid #141E30;
    background: #141E30;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 35px;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

button:hover {
    cursor: pointer;
    background: #FFF;
    color: #141E30;
}

.menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    right: 15px;
    top: 35px;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 10px;
    cursor: pointer;
  }
  
  .menu li:hover {
    background-color: #f0f0f0;
  }


