@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #f6f5f7;
    font-family: 'Poppins', sans-serif;
}


button {
    border-radius: 20px;
    border: 1px solid #141E30;
    background: #141E30;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 35px;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

button:hover {
    cursor: pointer;
    background: #FFF;
    color: #141E30;
}

.menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    right: 15px;
    top: 35px;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 10px;
    cursor: pointer;
  }
  
  .menu li:hover {
    background-color: #f0f0f0;
  }

  .botao-menu{
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 12px;
    cursor: pointer;
}
  
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  .card-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 40px;
  }

  .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-text{
    margin: 0;
  }
}

.card:hover{
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  
  .card-header{
      background-color: #dadada;
  }

  .card-body{
      background-color: #ebebeb;
  }
}
.infield{
  position: relative;
  margin: 8px 0px;
  width: 100%;
}

input{
  width: 100%;
  padding: 12px 15px;
  background-color: #f3f3f3;
  border: none;
  border-radius: 5px;
  outline: none;
}

label{
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background: #141E30;
  transition: 0.3s;
}

.nav-base {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

h3{
  font-size: 25px;
  color: #141E30;
}

h2{
  margin-bottom: 0;
}

.btn-delete, .btn-add-form, .btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  border-radius: 10%;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 0;
}

.btn-add-form, .btn-submit {
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 4px;
}


.btn-add-form {
  background-color: #28a745;
  margin-right: 20px;
}

.btn-add-form:hover {
  background-color: #218838;
  color: white;
}

.btn-submit {
  background-color: #141E30;
  margin-right: 20px;
}

.btn-submit:hover {
  background-color: #0d1a26;
  color: white;
}

.btn-delete {
  background-color: #c01717;
}

.btn-delete:hover {
  color: white;
  background-color: #850e0e;
}

.btn-delete i, .btn-add i {
  font-size: 18px;
}

.empty-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
  color: #777;
  font-size: 18px;
}

.empty-message h3 {
  color: #333;
  font-size: 24px;
}

.empty-message p {
  color: #555;
  margin-top: 10px;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.error-message.ng-trigger {
  display: block;
}

.modal-container {
  display: flex;
  flex-direction: column; /* Organiza os elementos em uma coluna */
  height: 100%; /* Preenche toda a altura do modal */
}

.btn-close {
  background: none;
  border: none;
  color: #141E30;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  --bs-btn-close-focus-shadow: 0;
}

.modal-body {
  padding: 20px;
  overflow-y: auto;
  flex: 1; 
  max-height: calc(80vh - 160px); /* Ajusta a altura máxima para não cobrir a nav-base e footer */
}

.modal-footer{
  border-top: 1px solid #ddd;
  position: sticky;
  bottom: 0;
  z-index: 10;
  background-color: white;
}

.formulario{
  gap: 25px;
  margin-top: 25px;
  padding: 10px;
  background-color: #f3f3f3;
  border-radius: 5px;
}


::-webkit-scrollbar {
  width: 0.7em;
} 
 
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background-color :#141E30;
  border-radius: 0.2em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 0.3em #FFF, 0 0 10em #202e47
}
