@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #f6f5f7;
    font-family: 'Poppins', sans-serif;
}


button {
    border-radius: 20px;
    border: 1px solid #141E30;
    background: #141E30;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 35px;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

button:hover {
    cursor: pointer;
    background: #FFF;
    color: #141E30;
}


