<app-header [currentPage]="'questions'"></app-header>
<main>
    <div class="base">
        <div class="nav-base">
            <h2>Perguntas - <i *ngIf="nameForm == undefined">Formulário não encontrado!</i> {{ nameForm }}</h2>
            <div class="buttons">
                <button *ngIf="questions.length != 0" (click)="submitAnswers()">Enviar</button>
            </div>
        </div>

        <div *ngIf="questions.length === 0" class="empty-message">
            <h3>Nenhuma pergunta encontrada nesse formulário.</h3>
            <p>Crie um formulário ou perguntas para responder.</p>
        </div>

        <div class="modal-content">
            <div class="forms-groups">
                <ng-container *ngFor="let question of questions; let i = index">
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header">
                            <a *ngIf="canShow()">{{question.id}}</a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{question.text}}</h5>
                            <div class="card-text">
                                <select (change)="onInputChange(question.id, 'grade', $event)" required>
                                    <option [value]="null" disabled selected></option>
                                    <option *ngFor="let grade of grades" [value]="grade">{{ grade }}</option>
                                </select>
                                <div class="infield">
                                    <input (input)="onInputChange(question.id, 'description', $event)" type="text"
                                        placeholder="Descrição (opcional)" />
                                    <label></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</main>
<app-alert-modal></app-alert-modal>